<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		internalLogFile="/log/GitHubExtractor/nlog-internal.log"
		internalLogLevel="Error"
		throwConfigExceptions="true">

	<variable name="appName" value="${var:appNameBase:default=GitHubExtractor}"/>
	<variable name="layoutSeparator" value=" | "/>
	<variable name="fileLayout" value="${longdate}${layoutSeparator}T:${threadname}:${threadid}${layoutSeparator}${level}${layoutSeparator}${callsite}:${callsite-linenumber}${layoutSeparator}${message}${layoutSeparator}${exception:innerFormat=Message:maxInnerExceptionLevel=10}"/>
	<variable name="filePath" value="/log/GitHubExtractor/${appName}"/>
	<variable name="fileName" value="${appName}.txt"/>
	<variable name="fileEncoding" value="iso-8859-2"/>
	<variable name="consoleLayout" value="${fileLayout}"/>
	<variable name="consoleEncoding" value="${fileEncoding}"/>
	<variable name="asyncQueueLimit" value="500000"/>
	<variable name="asyncTimeToSleepBetweenBatches" value="1"/>
	<variable name="asyncBatchSize" value="5000"/>
	<variable name="asyncOverflowAction" value="Grow"/>
	<variable name="maxArchiveFile" value="300"/>

	<!--
	5 MB
	-->
	<variable name="archiveMaxSize" value="5242880"/>

	<targets>
		<target xsi:type="AsyncWrapper" name="async-file-info" queueLimit="${asyncQueueLimit}" timeToSleepBetweenBatches="${asyncTimeToSleepBetweenBatches}" batchSize="${asyncBatchSize}" overflowAction="${asyncOverflowAction}">
			<target name="file"
				xsi:type="File"
				layout="${fileLayout}"
				fileName="${filePath}/info-${fileName}"
				archiveAboveSize="${archiveMaxSize}"
				archiveNumbering="Rolling"
				keepFileOpen="false"
				encoding="${fileEncoding}"
				maxArchiveFiles="${maxArchiveFile}"/>
		</target>
		<target xsi:type="AsyncWrapper" name="async-file-debug" queueLimit="${asyncQueueLimit}" timeToSleepBetweenBatches="${asyncTimeToSleepBetweenBatches}" batchSize="${asyncBatchSize}" overflowAction="${asyncOverflowAction}">
			<target name="file"
				xsi:type="File"
				layout="${fileLayout}"
				fileName="${filePath}/debug-${fileName}"
				archiveAboveSize="${archiveMaxSize}"
				archiveNumbering="Rolling"
				keepFileOpen="false"
				encoding="${fileEncoding}"
				maxArchiveFiles="${maxArchiveFile}"/>
		</target>
		<target xsi:type="AsyncWrapper" name="async-file-error" queueLimit="${asyncQueueLimit}" timeToSleepBetweenBatches="${asyncTimeToSleepBetweenBatches}" batchSize="${asyncBatchSize}" overflowAction="${asyncOverflowAction}">
			<target name="file"
				xsi:type="File"
				layout="${fileLayout}"
				fileName="${filePath}/error-${fileName}"
				archiveAboveSize="${archiveMaxSize}"
				archiveNumbering="Rolling"
				keepFileOpen="false"
				encoding="${fileEncoding}"
				maxArchiveFiles="${maxArchiveFile}"/>
		</target>
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="async-file-debug" />
		<logger name="*" minlevel="Error" writeTo="async-file-error" />
		<logger name="*" minlevel="Info" writeTo="async-file-info" />
	</rules>
</nlog>
